<RESULTS>
	<ROW>
		<COLUMN NAME="ID"><![CDATA[ed407972-ba5c-480b-8ece-ae4ae9adc5f0]]></COLUMN>
		<COLUMN NAME="AGGREGATEID"><![CDATA[a0w0N00000AWhvuQAD]]></COLUMN>
		<COLUMN NAME="SOURCE"><![CDATA[acquiring]]></COLUMN>
		<COLUMN NAME="NATURE"><![CDATA[natural]]></COLUMN>
		<COLUMN NAME="SERVERID"><![CDATA[$HOSTNAME]]></COLUMN>
		<COLUMN NAME="TYPE"><![CDATA[AdvancedContractExportedEvent]]></COLUMN>
		<COLUMN NAME="PAYLOAD"><![CDATA[{"id":"ed407972-ba5c-480b-8ece-ae4ae9adc5f0","aggregateId":"a0w0N00000AWhvuQAD","exportDate":1545672567385}]]></COLUMN>
		<COLUMN NAME="EMITTEDAT"><![CDATA[24-DEC-18]]></COLUMN>
		<COLUMN NAME="RECEIVEDAT"><![CDATA[24-DEC-18]]></COLUMN>
		<COLUMN NAME="SYSTEMOFFSET"><![CDATA[279]]></COLUMN>
	</ROW>
	<ROW>
		<COLUMN NAME="ID"><![CDATA[1826852f-60dd-4b80-9fde-db0911fa170f]]></COLUMN>
		<COLUMN NAME="AGGREGATEID"><![CDATA[a0w0N00000AWhyoQAD]]></COLUMN>
		<COLUMN NAME="SOURCE"><![CDATA[acquiring]]></COLUMN>
		<COLUMN NAME="NATURE"><![CDATA[natural]]></COLUMN>
		<COLUMN NAME="SERVERID"><![CDATA[$HOSTNAME]]></COLUMN>
		<COLUMN NAME="TYPE"><![CDATA[AdvancedContractExportedEvent]]></COLUMN>
		<COLUMN NAME="PAYLOAD"><![CDATA[{"id":"1826852f-60dd-4b80-9fde-db0911fa170f","aggregateId":"a0w0N00000AWhyoQAD","exportDate":1545672567386}]]></COLUMN>
		<COLUMN NAME="EMITTEDAT"><![CDATA[24-DEC-18]]></COLUMN>
		<COLUMN NAME="RECEIVEDAT"><![CDATA[24-DEC-18]]></COLUMN>
		<COLUMN NAME="SYSTEMOFFSET"><![CDATA[321]]></COLUMN>
	</ROW>
	<ROW>
		<COLUMN NAME="ID"><![CDATA[f1ca4617-2ff6-4839-860b-c529a19e54b8]]></COLUMN>
		<COLUMN NAME="AGGREGATEID"><![CDATA[a0w0N00000AWgZpQAL]]></COLUMN>
		<COLUMN NAME="SOURCE"><![CDATA[acquiring]]></COLUMN>
		<COLUMN NAME="NATURE"><![CDATA[natural]]></COLUMN>
		<COLUMN NAME="SERVERID"><![CDATA[$HOSTNAME]]></COLUMN>
		<COLUMN NAME="TYPE"><![CDATA[AdvancedContractExportedEvent]]></COLUMN>
		<COLUMN NAME="PAYLOAD"><![CDATA[{"id":"f1ca4617-2ff6-4839-860b-c529a19e54b8","aggregateId":"a0w0N00000AWgZpQAL","exportDate":1545672567387}]]></COLUMN>
		<COLUMN NAME="EMITTEDAT"><![CDATA[24-DEC-18]]></COLUMN>
		<COLUMN NAME="RECEIVEDAT"><![CDATA[24-DEC-18]]></COLUMN>
		<COLUMN NAME="SYSTEMOFFSET"><![CDATA[324]]></COLUMN>
	</ROW>
	<ROW>
		<COLUMN NAME="ID"><![CDATA[48f5f366-300c-474d-bf41-9f03d00a4828]]></COLUMN>
		<COLUMN NAME="AGGREGATEID"><![CDATA[a0w0N00000AWhEmQAL]]></COLUMN>
		<COLUMN NAME="SOURCE"><![CDATA[acquiring]]></COLUMN>
		<COLUMN NAME="NATURE"><![CDATA[natural]]></COLUMN>
		<COLUMN NAME="SERVERID"><![CDATA[$HOSTNAME]]></COLUMN>
		<COLUMN NAME="TYPE"><![CDATA[AdvancedContractExportedEvent]]></COLUMN>
		<COLUMN NAME="PAYLOAD"><![CDATA[{"id":"48f5f366-300c-474d-bf41-9f03d00a4828","aggregateId":"a0w0N00000AWhEmQAL","exportDate":1545672567387}]]></COLUMN>
		<COLUMN NAME="EMITTEDAT"><![CDATA[24-DEC-18]]></COLUMN>
		<COLUMN NAME="RECEIVEDAT"><![CDATA[24-DEC-18]]></COLUMN>
		<COLUMN NAME="SYSTEMOFFSET"><![CDATA[325]]></COLUMN>
	</ROW>
	<ROW>
		<COLUMN NAME="ID"><![CDATA[20e42e2f-cbb9-482c-adc7-25ae9f04169a]]></COLUMN>
		<COLUMN NAME="AGGREGATEID"><![CDATA[a0w0N00000AWhyFQAT]]></COLUMN>
		<COLUMN NAME="SOURCE"><![CDATA[acquiring]]></COLUMN>
		<COLUMN NAME="NATURE"><![CDATA[natural]]></COLUMN>
		<COLUMN NAME="SERVERID"><![CDATA[$HOSTNAME]]></COLUMN>
		<COLUMN NAME="TYPE"><![CDATA[AdvancedContractExportedEvent]]></COLUMN>
		<COLUMN NAME="PAYLOAD"><![CDATA[{"id":"20e42e2f-cbb9-482c-adc7-25ae9f04169a","aggregateId":"a0w0N00000AWhyFQAT","exportDate":1545672567387}]]></COLUMN>
		<COLUMN NAME="EMITTEDAT"><![CDATA[24-DEC-18]]></COLUMN>
		<COLUMN NAME="RECEIVEDAT"><![CDATA[24-DEC-18]]></COLUMN>
		<COLUMN NAME="SYSTEMOFFSET"><![CDATA[326]]></COLUMN>
	</ROW>
	<ROW>
		<COLUMN NAME="ID"><![CDATA[f10aa470-95aa-403e-b123-b7762bd75464]]></COLUMN>
		<COLUMN NAME="AGGREGATEID"><![CDATA[a0w0N00000AWj8TQAT]]></COLUMN>
		<COLUMN NAME="SOURCE"><![CDATA[acquiring]]></COLUMN>
		<COLUMN NAME="NATURE"><![CDATA[natural]]></COLUMN>
		<COLUMN NAME="SERVERID"><![CDATA[$HOSTNAME]]></COLUMN>
		<COLUMN NAME="TYPE"><![CDATA[ContractExportedEvent]]></COLUMN>
		<COLUMN NAME="PAYLOAD"><![CDATA[{"id":"f10aa470-95aa-403e-b123-b7762bd75464","aggregateId":"a0w0N00000AWj8TQAT","exportDate":1546444837094,"processor":"PROCESSOR"}]]></COLUMN>
		<COLUMN NAME="EMITTEDAT"><![CDATA[02-JAN-19]]></COLUMN>
		<COLUMN NAME="RECEIVEDAT"><![CDATA[02-JAN-19]]></COLUMN>
		<COLUMN NAME="SYSTEMOFFSET"><![CDATA[443]]></COLUMN>
	</ROW>
	<ROW>
		<COLUMN NAME="ID"><![CDATA[6800d287-5bff-4a58-a714-b60b75a751d3]]></COLUMN>
		<COLUMN NAME="AGGREGATEID"><![CDATA[a0w0N00000AWinfQAD]]></COLUMN>
		<COLUMN NAME="SOURCE"><![CDATA[acquiring]]></COLUMN>
		<COLUMN NAME="NATURE"><![CDATA[natural]]></COLUMN>
		<COLUMN NAME="SERVERID"><![CDATA[$HOSTNAME]]></COLUMN>
		<COLUMN NAME="TYPE"><![CDATA[ContractExportedEvent]]></COLUMN>
		<COLUMN NAME="PAYLOAD"><![CDATA[{"id":"6800d287-5bff-4a58-a714-b60b75a751d3","aggregateId":"a0w0N00000AWinfQAD","exportDate":1546444837094,"processor":"PROCESSOR"}]]></COLUMN>
		<COLUMN NAME="EMITTEDAT"><![CDATA[02-JAN-19]]></COLUMN>
		<COLUMN NAME="RECEIVEDAT"><![CDATA[02-JAN-19]]></COLUMN>
		<COLUMN NAME="SYSTEMOFFSET"><![CDATA[445]]></COLUMN>
	</ROW>
	<ROW>
		<COLUMN NAME="ID"><![CDATA[36173ed6-187e-407c-a1e5-09839061ca7c]]></COLUMN>
		<COLUMN NAME="AGGREGATEID"><![CDATA[a0w0N00000AWjcTQAT]]></COLUMN>
		<COLUMN NAME="SOURCE"><![CDATA[acquiring]]></COLUMN>
		<COLUMN NAME="NATURE"><![CDATA[natural]]></COLUMN>
		<COLUMN NAME="SERVERID"><![CDATA[$HOSTNAME]]></COLUMN>
		<COLUMN NAME="TYPE"><![CDATA[ContractExportedEvent]]></COLUMN>
		<COLUMN NAME="PAYLOAD"><![CDATA[{"id":"36173ed6-187e-407c-a1e5-09839061ca7c","aggregateId":"a0w0N00000AWjcTQAT","exportDate":1546444837094,"processor":"PROCESSOR"}]]></COLUMN>
		<COLUMN NAME="EMITTEDAT"><![CDATA[02-JAN-19]]></COLUMN>
		<COLUMN NAME="RECEIVEDAT"><![CDATA[02-JAN-19]]></COLUMN>
		<COLUMN NAME="SYSTEMOFFSET"><![CDATA[447]]></COLUMN>
	</ROW>
	<ROW>
		<COLUMN NAME="ID"><![CDATA[aad96404-4e63-44f8-9424-ba980a24fc86]]></COLUMN>
		<COLUMN NAME="AGGREGATEID"><![CDATA[a0w0N00000AWjZFQA1]]></COLUMN>
		<COLUMN NAME="SOURCE"><![CDATA[orchestrator]]></COLUMN>
		<COLUMN NAME="NATURE"><![CDATA[natural]]></COLUMN>
		<COLUMN NAME="SERVERID"><![CDATA[$HOSTNAME]]></COLUMN>
		<COLUMN NAME="TYPE"><![CDATA[SetupReceivedEvent]]></COLUMN>
		<COLUMN NAME="PAYLOAD"><![CDATA[{"id":"aad96404-4e63-44f8-9424-ba980a24fc86","aggregateId":"a0w0N00000AWjZFQA1","contract":{"id":"a0w0N00000AWjZFQA1"}}]]></COLUMN>
		<COLUMN NAME="EMITTEDAT"><![CDATA[02-JAN-19]]></COLUMN>
		<COLUMN NAME="RECEIVEDAT"><![CDATA[02-JAN-19]]></COLUMN>
		<COLUMN NAME="SYSTEMOFFSET"><![CDATA[449]]></COLUMN>
	</ROW>
	<ROW>
		<COLUMN NAME="ID"><![CDATA[9a58a3c6-1a33-4c4f-89e4-80e34648d0da]]></COLUMN>
		<COLUMN NAME="AGGREGATEID"><![CDATA[a0w0N00000AWioJQAT]]></COLUMN>
		<COLUMN NAME="SOURCE"><![CDATA[acquiring]]></COLUMN>
		<COLUMN NAME="NATURE"><![CDATA[natural]]></COLUMN>
		<COLUMN NAME="SERVERID"><![CDATA[$HOSTNAME]]></COLUMN>
		<COLUMN NAME="TYPE"><![CDATA[ContractApprovedByProcessorEvent]]></COLUMN>
		<COLUMN NAME="PAYLOAD"><![CDATA[{"id":"9a58a3c6-1a33-4c4f-89e4-80e34648d0da","aggregateId":"a0w0N00000AWioJQAT","contractId":"a0w0N00000AWioJQAT","uniqueRequestKey":"34567O00097","merchantCode":"5234566","servicePointCodes":["4234343"],"progressive":11,"approvalDate":"2019-01-03","processor":"PROCESSOR","salePointId":"a0y0N0000063B9WQAU"}]]></COLUMN>
		<COLUMN NAME="EMITTEDAT"><![CDATA[03-JAN-19]]></COLUMN>
		<COLUMN NAME="RECEIVEDAT"><![CDATA[03-JAN-19]]></COLUMN>
		<COLUMN NAME="SYSTEMOFFSET"><![CDATA[453]]></COLUMN>
	</ROW>
	<ROW>
		<COLUMN NAME="ID"><![CDATA[b8bbeee4-ba46-482b-b825-98e87bc87ebc]]></COLUMN>
		<COLUMN NAME="AGGREGATEID"><![CDATA[a0w0N00000AWinpQAD]]></COLUMN>
		<COLUMN NAME="SOURCE"><![CDATA[acquiring]]></COLUMN>
		<COLUMN NAME="NATURE"><![CDATA[natural]]></COLUMN>
		<COLUMN NAME="SERVERID"><![CDATA[$HOSTNAME]]></COLUMN>
		<COLUMN NAME="TYPE"><![CDATA[ContractApprovedByProcessorEvent]]></COLUMN>
		<COLUMN NAME="PAYLOAD"><![CDATA[{"id":"b8bbeee4-ba46-482b-b825-98e87bc87ebc","aggregateId":"a0w0N00000AWinpQAD","contractId":"a0w0N00000AWinpQAD","uniqueRequestKey":"18355O00095","merchantCode":"5924686","servicePointCodes":["4427574"],"progressive":5,"approvalDate":"2019-01-03","processor":"PROCESSOR","salePointId":"a0y0N0000063B9HQAU"}]]></COLUMN>
		<COLUMN NAME="EMITTEDAT"><![CDATA[03-JAN-19]]></COLUMN>
		<COLUMN NAME="RECEIVEDAT"><![CDATA[03-JAN-19]]></COLUMN>
		<COLUMN NAME="SYSTEMOFFSET"><![CDATA[456]]></COLUMN>
	</ROW>
	<ROW>
		<COLUMN NAME="ID"><![CDATA[d3257009-e039-44b1-8db3-2b7d9aea1d07]]></COLUMN>
		<COLUMN NAME="AGGREGATEID"><![CDATA[a0w0N00000AWhxlQAD]]></COLUMN>
		<COLUMN NAME="SOURCE"><![CDATA[acquiring]]></COLUMN>
		<COLUMN NAME="NATURE"><![CDATA[natural]]></COLUMN>
		<COLUMN NAME="SERVERID"><![CDATA[$HOSTNAME]]></COLUMN>
		<COLUMN NAME="TYPE"><![CDATA[ContractExportedEvent]]></COLUMN>
		<COLUMN NAME="PAYLOAD"><![CDATA[{"id":"d3257009-e039-44b1-8db3-2b7d9aea1d07","aggregateId":"a0w0N00000AWhxlQAD","exportDate":1545406174076,"processor":"PROCESSOR"}]]></COLUMN>
		<COLUMN NAME="EMITTEDAT"><![CDATA[21-DEC-18]]></COLUMN>
		<COLUMN NAME="RECEIVEDAT"><![CDATA[21-DEC-18]]></COLUMN>
		<COLUMN NAME="SYSTEMOFFSET"><![CDATA[243]]></COLUMN>
	</ROW>
</RESULTS>
